In [1]:
import lightgbm

import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np
import pandas as pd 

from memory_reduction_script import reduce_mem_usage_sd as mr # We are using the memory reduction by our utility script

In [2]:
##### Functions
# 1st function

def j_mode(x, dropna=True):
    #obtains the most frequent, not nan value
    try: 
        mode = x.value_counts(dropna=dropna).index[0]
        # mode != mode -> isnull
        if (mode != mode) and (x.value_counts(dropna=dropna).index > 1):
            mode = x.value_counts(dropna=dropna).index[1]            
        return mode
    except: 
        return x

# 2nd function

def normalize_columns(group, cols, df_train, df_test, verbose=True):
    # replacing the card values depending on card1 with the most frequent, not nan value
    ### initialize trace variables
    if verbose:
        s_train_before    = df_train.shape
        s_train_na_before = df_train[cols].isnull().sum()
        s_test_before     = df_test.shape
        s_test_na_before  = df_test[cols].isnull().sum()

        #train_nulls_before = pd.concat([df_train[cols].isnull().sum(), df_train[cols].isnull().sum()], axis=1)
        #test_nulls_before  = pd.concat([df_test[cols].isnull().sum(), df_test[cols].isnull().sum()], axis=1)

    
    #normalize the group with the mode.
    grouped_train = df_train.groupby([group])
    grouped_test  = df_test.groupby([group])

    n = 0
    for col in cols:
        if verbose:
            print('normalizing ' + str(col))
        df_train[col] = grouped_train[col].transform(lambda x: j_mode(x))
        df_test[col]  = grouped_test[col].transform(lambda x: j_mode(x))
        n += 1
        
    ### print the traces
    if verbose:        
        print(f'train shape before: {s_train_before}, after: {df_train.shape}')
        print(f'test shape before: {s_test_before}, after: {df_test.shape}')
        train_nulls_after = df_train[cols].isnull().sum()
        test_nulls_after  = df_test[cols].isnull().sum()
        for i in range(s_test_na_before.shape[0]):
            print(f'(train) {s_train_na_before.index[i]} nulls before: {s_train_na_before.iloc[i]}, nulls after: {train_nulls_after.iloc[i]}')
        for i in range(s_test_na_before.shape[0]):
            print(f'(test) {s_test_na_before.index[i]} nulls before: {s_test_na_before.iloc[i]}, nulls after: {test_nulls_after.iloc[i]}')

# 3rd function

def fill_na(cols, df_train, df_test, num_rep=-999, obj_rep ='Unknown', verbose=True):
    ### initialize trace variables
    if verbose:
        s_train_na_before = train[cols].isnull().sum()
        s_test_na_before  = test[cols].isnull().sum()
        
    for col in cols:
        if df_train[col].dtype == 'O':
            df_train[col] = df_train[col].fillna(obj_rep)
            df_test[col]  = df_test[col].fillna(obj_rep)
        else:
            df_train[col] = df_train[col].fillna(num_rep)
            df_test[col]  = df_test[col].fillna(num_rep)

    ### print the traces
    if verbose:        
        train_nulls_after = df_train[cols].isnull().sum()
        test_nulls_after  = df_test[cols].isnull().sum()
        
        for i in range(s_test_na_before.shape[0]):
            print(f'(train) {s_train_na_before.index[i]} nulls before: {s_train_na_before.iloc[i]}, nulls after: {train_nulls_after.iloc[i]}')
        for i in range(s_test_na_before.shape[0]):
            print(f'(test) {s_test_na_before.index[i]} nulls before: {s_test_na_before.iloc[i]}, nulls after: {test_nulls_after.iloc[i]}')

In [3]:
##### Download of files.

print('Downloading datasets...')
print(' ')
train = pd.read_pickle('/kaggle/input/1-fraud-detection-memory-reduction/train_mred.pkl')
print('Train has been downloaded... (1/2)')
test = pd.read_pickle('/kaggle/input/1-fraud-detection-memory-reduction/test_mred.pkl')
print('Test has been downloaded... (2/2)')
print(' ')
print('All files are downloaded')

Downloading datasets...

Train has been downloaded... (1/2)
Test has been downloaded... (2/2)

All files are downloaded

In [4]:
print(train.shape) # 6 months of data in train
print(test.shape)  # 6 months of data in test

(590540, 405)
(506691, 404)

# Preprocessing:

1. Three different card keys (ways to group cards or users):
   
    * `uid1` with `card1` to `card6` + `addr1` + `addr2` + `ProductCD` + `D1achr`
    * `uid2` with `card1` + `D2achr` + `C13` + `D11achr` + `D10achr` + `D15achr` + `D4achr`
    * `uids` with `card1` + `addr1` + `D1achr`  
  
  
2. Normalize all the fields related to card1 -> replace less frequent, NaNs values with the mode.
3. Input all categorical data - we encode them with a dictionary to set the same value for all NaNs.

In [5]:
object_columns = train.dtypes[train.dtypes=='O'].index
for col in object_columns:
    print(col ,'nulls (train):', train[col].isnull().sum()/train.shape[0])
    print(col ,'nulls (test):', test[col].isnull().sum()/test.shape[0])

ProductCD nulls (train): 0.0
ProductCD nulls (test): 0.0
card4 nulls (train): 0.00267043722694483
card4 nulls (test): 0.006090496969553436
card6 nulls (train): 0.0026602770345785214
card6 nulls (test): 0.00593458340487595
P_emaildomain nulls (train): 0.1599485216920107
P_emaildomain nulls (test): 0.13655659958436206
R_emaildomain nulls (train): 0.7675161716395164
R_emaildomain nulls (test): 0.7318484046489873
M1 nulls (train): 0.4590713584177194
M1 nulls (test): 0.348612862671727
M2 nulls (train): 0.4590713584177194
M2 nulls (test): 0.348612862671727
M3 nulls (train): 0.4590713584177194
M3 nulls (test): 0.348612862671727
M4 nulls (train): 0.47658753005723575
M4 nulls (test): 0.4692110181550491
M5 nulls (train): 0.5934940901547736
M5 nulls (test): 0.6110864412432824
M6 nulls (train): 0.28678836319300977
M6 nulls (test): 0.3136803298262649
M7 nulls (train): 0.5863531682866528
M7 nulls (test): 0.46382903978953643
M8 nulls (train): 0.5863311545365258
M8 nulls (test): 0.46380140953756827
M9 nulls (train): 0.5863311545365258
M9 nulls (test): 0.46380140953756827

In [6]:
##### Group outliers for card4 and card6
print(" BEFORE ".center(20, '#'))
print('Train - card6:\n', train['card6'].value_counts(dropna=False))
print(' ')
print('Train - card4:\n', train['card4'].value_counts(dropna=False))
print(' ')

train.card6 = train.card6.replace(['debit or credit', 'charge card'], np.nan)
train.card4 = train.card4.replace(['american express', 'discover'], np.nan)

print(" AFTER ".center(20, '#'))
print('Train - card6:\n', train['card6'].value_counts(dropna=False))
print(' ')
print('Train - card4:\n', train['card4'].value_counts(dropna=False))
print(' ')

###### BEFORE ######
Train - card6:
 debit              439938
credit             148986
NaN                  1571
debit or credit        30
charge card            15
Name: card6, dtype: int64

Train - card4:
 visa                384767
mastercard          189217
american express      8328
discover              6651
NaN                   1577
Name: card4, dtype: int64

###### AFTER #######
Train - card6:
 debit     439938
credit    148986
NaN         1616
Name: card6, dtype: int64

Train - card4:
 visa          384767
mastercard    189217
NaN            16556
Name: card4, dtype: int64

In [7]:
##### Label encoding all object columns with our dictionary
for col in object_columns:
    print(f'String values from {col} are being transformed to numeric...')
    #unique values without nans
    unique_values = list(train[col].dropna().unique()) 

    #create the dictionary
    str_to_num = dict()
    for num,value in enumerate(unique_values):
        str_to_num[value] = num

    #apply it to column
    train[col] = train[col].map(str_to_num)
    test[col]  = test[col].map(str_to_num)
    print(f'String values from {col} are transformed!')

print(' ')
print('Done!')

String values from ProductCD are being transformed to numeric...
String values from ProductCD are transformed!
String values from card4 are being transformed to numeric...
String values from card4 are transformed!
String values from card6 are being transformed to numeric...
String values from card6 are transformed!
String values from P_emaildomain are being transformed to numeric...
String values from P_emaildomain are transformed!
String values from R_emaildomain are being transformed to numeric...
String values from R_emaildomain are transformed!
String values from M1 are being transformed to numeric...
String values from M1 are transformed!
String values from M2 are being transformed to numeric...
String values from M2 are transformed!
String values from M3 are being transformed to numeric...
String values from M3 are transformed!
String values from M4 are being transformed to numeric...
String values from M4 are transformed!
String values from M5 are being transformed to numeric...
String values from M5 are transformed!
String values from M6 are being transformed to numeric...
String values from M6 are transformed!
String values from M7 are being transformed to numeric...
String values from M7 are transformed!
String values from M8 are being transformed to numeric...
String values from M8 are transformed!
String values from M9 are being transformed to numeric...
String values from M9 are transformed!

Done!

In [8]:
##### Normalizing by replacing less frequents and NaNs values with the mode using CARD1

card_cols = ['card' + str(i) for i in range(2,7)]
normalize_columns('card1', card_cols, df_train=train, df_test=test, verbose=True) 

domain_cols = ['P_emaildomain', 'R_emaildomain']
normalize_columns('card1', domain_cols, df_train=train, df_test=test, verbose=True)

normalizing card2
normalizing card3
normalizing card4
normalizing card5
normalizing card6
train shape before: (590540, 405), after: (590540, 405)
test shape before: (506691, 404), after: (506691, 404)
(train) card2 nulls before: 8933, nulls after: 4686
(train) card3 nulls before: 1565, nulls after: 16
(train) card4 nulls before: 16556, nulls after: 15026
(train) card5 nulls before: 4259, nulls after: 793
(train) card6 nulls before: 1616, nulls after: 25
(test) card2 nulls before: 8654, nulls after: 5498
(test) card3 nulls before: 3002, nulls after: 46
(test) card4 nulls before: 13640, nulls after: 10776
(test) card5 nulls before: 4547, nulls after: 1394
(test) card6 nulls before: 3008, nulls after: 52
normalizing P_emaildomain
normalizing R_emaildomain
train shape before: (590540, 405), after: (590540, 405)
test shape before: (506691, 404), after: (506691, 404)
(train) P_emaildomain nulls before: 94456, nulls after: 1286
(train) R_emaildomain nulls before: 453249, nulls after: 49051
(test) P_emaildomain nulls before: 69194, nulls after: 1647
(test) R_emaildomain nulls before: 370821, nulls after: 39258

In [9]:
##### Replacing NaNs

# Cards columns
card_cols_c = ['card' + str(i) for i in range(1,7)]
fill_na(card_cols_c, num_rep=-999, obj_rep ='Unknown', df_train=train, df_test=test, verbose=True)

# Address columns
addrs = ['addr1', 'addr2']
fill_na(addrs, num_rep=-999, obj_rep ='Unknown', df_train=train, df_test=test, verbose=True)

# Domains columns
fill_na(domain_cols, num_rep=-999, obj_rep ='Unknown', df_train=train, df_test=test, verbose=True)

(train) card1 nulls before: 0, nulls after: 0
(train) card2 nulls before: 4686, nulls after: 0
(train) card3 nulls before: 16, nulls after: 0
(train) card4 nulls before: 15026, nulls after: 0
(train) card5 nulls before: 793, nulls after: 0
(train) card6 nulls before: 25, nulls after: 0
(test) card1 nulls before: 0, nulls after: 0
(test) card2 nulls before: 5498, nulls after: 0
(test) card3 nulls before: 46, nulls after: 0
(test) card4 nulls before: 10776, nulls after: 0
(test) card5 nulls before: 1394, nulls after: 0
(test) card6 nulls before: 52, nulls after: 0
(train) addr1 nulls before: 65706, nulls after: 0
(train) addr2 nulls before: 65706, nulls after: 0
(test) addr1 nulls before: 65609, nulls after: 0
(test) addr2 nulls before: 65609, nulls after: 0
(train) P_emaildomain nulls before: 1286, nulls after: 0
(train) R_emaildomain nulls before: 49051, nulls after: 0
(test) P_emaildomain nulls before: 1647, nulls after: 0
(test) R_emaildomain nulls before: 39258, nulls after: 0

In [10]:
##### Creation of UIDs

# uid1

train['uid1'] = train['card1'].astype('str') + '_' + train['card2'].astype('str')     + '_' \
              + train['card3'].astype('str') + '_' + train['card4'].astype('str')     + '_' \
              + train['card5'].astype('str') + '_' + train['card6'].astype('str')     + '_' + train['addr1'].astype('str') + '_' \
              + train['addr2'].astype('str') + '_' + train['ProductCD'].astype('str') + '_' + train['D1achr'].astype('str')

test['uid1']  = test['card1'].astype('str')  + '_' + test['card2'].astype('str')     + '_' \
              + test['card3'].astype('str')  + '_' + test['card4'].astype('str')     + '_' \
              + test['card5'].astype('str')  + '_' + test['card6'].astype('str')     + '_' + test['addr1'].astype('str') + '_' \
              + test['addr2'].astype('str')  + '_' + test['ProductCD'].astype('str') + '_' + test['D1achr'].astype('str')

# uid2

train['uid2'] = train['card1'].astype('str')   + '_' + train['D2achr'].astype('str')  + '_' \
              + train['C13'].astype('str')     + '_' + train['D11achr'].astype('str') + '_' \
              + train['D10achr'].astype('str') + '_' + train['D15achr'].astype('str') + '_' \
              + train['D4achr'].astype('str')

test['uid2']  = test['card1'].astype('str')    + '_' + test['D2achr'].astype('str')   + '_' \
              + test['C13'].astype('str')      + '_' + test['D11achr'].astype('str')  + '_' \
              + test['D10achr'].astype('str')  + '_' + test['D15achr'].astype('str')  + '_' \
              + test['D4achr'].astype('str')

# uids

train['uids'] = train['card1'].astype('str')   + '_' + train['addr1'].astype('str')  + '_' \
              + train['D1achr'].astype('str')

test['uids']  = test['card1'].astype('str')    + '_' + test['addr1'].astype('str')   + '_' \
              + test['D1achr'].astype('str')

print('Unique uid1 (train):', len(train.uid1.unique()))
print('Unique uid1 (test):', len(test.uid1.unique()))

print('Unique uid2 (train):', len(train.uid2.unique()))
print('Unique uid2 (test):', len(test.uid2.unique()))

print('Unique uids (train):', len(train.uids.unique()))
print('Unique uids (test):', len(test.uids.unique()))

Unique uid1 (train): 228233
Unique uid1 (test): 204853
Unique uid2 (train): 451356
Unique uid2 (test): 402011
Unique uids (train): 217850
Unique uids (test): 196187

In [11]:
##### Selecting type of uid filling type
uid = 'uid1'

In [12]:
%%time
##### Normalizing by replacing less frequents and NaNs values with the mode using UID1

m_cols = ['M'+str(i) for i in range(1,10)]
normalize_columns(uid, m_cols, df_train=train, df_test=test, verbose=True) 
fill_na(m_cols, num_rep=-999, obj_rep ='Unknown', df_train=train, df_test=test, verbose=True)

normalizing M1
normalizing M2
normalizing M3
normalizing M4
normalizing M5
normalizing M6
normalizing M7
normalizing M8
normalizing M9
train shape before: (590540, 408), after: (590540, 408)
test shape before: (506691, 407), after: (506691, 407)
(train) M1 nulls before: 271100, nulls after: 182082
(train) M2 nulls before: 271100, nulls after: 182082
(train) M3 nulls before: 271100, nulls after: 182082
(train) M4 nulls before: 281444, nulls after: 233376
(train) M5 nulls before: 350482, nulls after: 301733
(train) M6 nulls before: 169360, nulls after: 161567
(train) M7 nulls before: 346265, nulls after: 219827
(train) M8 nulls before: 346252, nulls after: 219822
(train) M9 nulls before: 346252, nulls after: 219822
(test) M1 nulls before: 176639, nulls after: 155028
(test) M2 nulls before: 176639, nulls after: 155028
(test) M3 nulls before: 176639, nulls after: 155028
(test) M4 nulls before: 237745, nulls after: 204212
(test) M5 nulls before: 309632, nulls after: 274413
(test) M6 nulls before: 158939, nulls after: 154309
(test) M7 nulls before: 235018, nulls after: 171356
(test) M8 nulls before: 235004, nulls after: 171329
(test) M9 nulls before: 235004, nulls after: 171329
(train) M1 nulls before: 182082, nulls after: 0
(train) M2 nulls before: 182082, nulls after: 0
(train) M3 nulls before: 182082, nulls after: 0
(train) M4 nulls before: 233376, nulls after: 0
(train) M5 nulls before: 301733, nulls after: 0
(train) M6 nulls before: 161567, nulls after: 0
(train) M7 nulls before: 219827, nulls after: 0
(train) M8 nulls before: 219822, nulls after: 0
(train) M9 nulls before: 219822, nulls after: 0
(test) M1 nulls before: 155028, nulls after: 0
(test) M2 nulls before: 155028, nulls after: 0
(test) M3 nulls before: 155028, nulls after: 0
(test) M4 nulls before: 204212, nulls after: 0
(test) M5 nulls before: 274413, nulls after: 0
(test) M6 nulls before: 154309, nulls after: 0
(test) M7 nulls before: 171356, nulls after: 0
(test) M8 nulls before: 171329, nulls after: 0
(test) M9 nulls before: 171329, nulls after: 0
CPU times: user 53min 5s, sys: 18.2 s, total: 53min 23s
Wall time: 53min 24s

In [13]:
%%time
##### Normalizing by replacing less frequents and NaNs values with the mode using UID1

dist_cols = ['dist1', 'dist2']
normalize_columns(uid, dist_cols, df_train=train, df_test=test, verbose=True)
fill_na(dist_cols, num_rep=-999, obj_rep ='Unknown', df_train=train, df_test=test, verbose=True)

normalizing dist1
normalizing dist2
train shape before: (590540, 408), after: (590540, 408)
test shape before: (506691, 407), after: (506691, 407)
(train) dist1 nulls before: 352271, nulls after: 235492
(train) dist2 nulls before: 552913, nulls after: 526091
(test) dist1 nulls before: 291217, nulls after: 226688
(test) dist2 nulls before: 470255, nulls after: 440044
(train) dist1 nulls before: 235492, nulls after: 0
(train) dist2 nulls before: 526091, nulls after: 0
(test) dist1 nulls before: 226688, nulls after: 0
(test) dist2 nulls before: 440044, nulls after: 0
CPU times: user 14min 7s, sys: 4.4 s, total: 14min 12s
Wall time: 14min 12s

In [14]:
##### Memory reduction

train = mr(train, verbose=True)
test  = mr(test, verbose=True)

Column TransactionID: int32 -> int32, na_count=0, n_uniq=590540
Column isFraud: int8 -> int8, na_count=0, n_uniq=2
Column TransactionDT: int32 -> int32, na_count=0, n_uniq=573349
Column TransactionAmt: float32 -> float32, na_count=0, n_uniq=20902
Column ProductCD: int64 -> int8, na_count=0, n_uniq=5
Column card1: int16 -> int16, na_count=0, n_uniq=13553
Column card2: float16 -> int16, na_count=0, n_uniq=501
Column card3: float16 -> int16, na_count=0, n_uniq=113
Column card4: float64 -> int16, na_count=0, n_uniq=3
Column card5: float16 -> int16, na_count=0, n_uniq=112
Column card6: float64 -> int16, na_count=0, n_uniq=3
Column addr1: float16 -> int16, na_count=0, n_uniq=333
Column addr2: float16 -> int16, na_count=0, n_uniq=75
Column dist1: float32 -> int16, na_count=0, n_uniq=2442
Column dist2: float32 -> int16, na_count=0, n_uniq=1542
Column P_emaildomain: float64 -> int16, na_count=0, n_uniq=59
Column R_emaildomain: float64 -> int16, na_count=0, n_uniq=57
Column C1: int16 -> int16, na_count=0, n_uniq=1657
Column C2: int16 -> int16, na_count=0, n_uniq=1216
Column C3: int8 -> int8, na_count=0, n_uniq=27
Column C4: int16 -> int16, na_count=0, n_uniq=1260
Column C5: int16 -> int16, na_count=0, n_uniq=319
Column C6: int16 -> int16, na_count=0, n_uniq=1328
Column C7: int16 -> int16, na_count=0, n_uniq=1103
Column C8: int16 -> int16, na_count=0, n_uniq=1253
Column C9: int16 -> int16, na_count=0, n_uniq=205
Column C10: int16 -> int16, na_count=0, n_uniq=1231
Column C11: int16 -> int16, na_count=0, n_uniq=1476
Column C12: int16 -> int16, na_count=0, n_uniq=1199
Column C13: int16 -> int16, na_count=0, n_uniq=1597
Column C14: int16 -> int16, na_count=0, n_uniq=1108
Column D1: float16 -> float16, na_count=1269, n_uniq=642
Column D2: float16 -> float16, na_count=280797, n_uniq=642
Column D3: float16 -> float16, na_count=262878, n_uniq=650
Column D4: float16 -> float16, na_count=168922, n_uniq=809
Column D5: float16 -> float16, na_count=309841, n_uniq=689
Column D6: float16 -> float16, na_count=517353, n_uniq=830
Column D7: float16 -> float16, na_count=551623, n_uniq=598
Column D8: float32 -> float32, na_count=515614, n_uniq=12354
Column D9: float16 -> float16, na_count=515614, n_uniq=25
Column D10: float16 -> float16, na_count=76022, n_uniq=819
Column D11: float16 -> float16, na_count=279287, n_uniq=677
Column D12: float16 -> float16, na_count=525823, n_uniq=636
Column D13: float16 -> float16, na_count=528588, n_uniq=578
Column D14: float16 -> float16, na_count=528353, n_uniq=803
Column D15: float16 -> float16, na_count=89113, n_uniq=860
Column M1: float64 -> int16, na_count=0, n_uniq=3
Column M2: float64 -> int16, na_count=0, n_uniq=3
Column M3: float64 -> int16, na_count=0, n_uniq=3
Column M4: float64 -> int16, na_count=0, n_uniq=4
Column M5: float64 -> int16, na_count=0, n_uniq=3
Column M6: float64 -> int16, na_count=0, n_uniq=3
Column M7: float64 -> int16, na_count=0, n_uniq=3
Column M8: float64 -> int16, na_count=0, n_uniq=3
Column M9: float64 -> int16, na_count=0, n_uniq=3
Column V1: float16 -> float16, na_count=279287, n_uniq=3
Column V2: float16 -> float16, na_count=279287, n_uniq=10
Column V3: float16 -> float16, na_count=279287, n_uniq=11
Column V4: float16 -> float16, na_count=279287, n_uniq=8
Column V5: float16 -> float16, na_count=279287, n_uniq=8
Column V6: float16 -> float16, na_count=279287, n_uniq=11
Column V7: float16 -> float16, na_count=279287, n_uniq=11
Column V8: float16 -> float16, na_count=279287, n_uniq=10
Column V9: float16 -> float16, na_count=279287, n_uniq=10
Column V10: float16 -> float16, na_count=279287, n_uniq=6
Column V11: float16 -> float16, na_count=279287, n_uniq=7
Column V12: float16 -> float16, na_count=76073, n_uniq=5
Column V13: float16 -> float16, na_count=76073, n_uniq=8
Column V14: float16 -> float16, na_count=76073, n_uniq=3
Column V15: float16 -> float16, na_count=76073, n_uniq=9
Column V16: float16 -> float16, na_count=76073, n_uniq=16
Column V17: float16 -> float16, na_count=76073, n_uniq=17
Column V18: float16 -> float16, na_count=76073, n_uniq=17
Column V19: float16 -> float16, na_count=76073, n_uniq=9
Column V20: float16 -> float16, na_count=76073, n_uniq=16
Column V21: float16 -> float16, na_count=76073, n_uniq=7
Column V22: float16 -> float16, na_count=76073, n_uniq=10
Column V23: float16 -> float16, na_count=76073, n_uniq=15
Column V24: float16 -> float16, na_count=76073, n_uniq=15
Column V25: float16 -> float16, na_count=76073, n_uniq=8
Column V26: float16 -> float16, na_count=76073, n_uniq=14
Column V27: float16 -> float16, na_count=76073, n_uniq=5
Column V28: float16 -> float16, na_count=76073, n_uniq=5
Column V29: float16 -> float16, na_count=76073, n_uniq=7
Column V30: float16 -> float16, na_count=76073, n_uniq=9
Column V31: float16 -> float16, na_count=76073, n_uniq=9
Column V32: float16 -> float16, na_count=76073, n_uniq=16
Column V33: float16 -> float16, na_count=76073, n_uniq=8
Column V34: float16 -> float16, na_count=76073, n_uniq=14
Column V35: float16 -> float16, na_count=168969, n_uniq=5
Column V36: float16 -> float16, na_count=168969, n_uniq=7
Column V37: float16 -> float16, na_count=168969, n_uniq=56
Column V38: float16 -> float16, na_count=168969, n_uniq=56
Column V39: float16 -> float16, na_count=168969, n_uniq=17
Column V40: float16 -> float16, na_count=168969, n_uniq=19
Column V41: float16 -> float16, na_count=168969, n_uniq=3
Column V42: float16 -> float16, na_count=168969, n_uniq=10
Column V43: float16 -> float16, na_count=168969, n_uniq=10
Column V44: float16 -> float16, na_count=168969, n_uniq=50
Column V45: float16 -> float16, na_count=168969, n_uniq=50
Column V46: float16 -> float16, na_count=168969, n_uniq=8
Column V47: float16 -> float16, na_count=168969, n_uniq=10
Column V48: float16 -> float16, na_count=168969, n_uniq=7
Column V49: float16 -> float16, na_count=168969, n_uniq=7
Column V50: float16 -> float16, na_count=168969, n_uniq=7
Column V51: float16 -> float16, na_count=168969, n_uniq=8
Column V52: float16 -> float16, na_count=168969, n_uniq=10
Column V53: float16 -> float16, na_count=77096, n_uniq=7
Column V54: float16 -> float16, na_count=77096, n_uniq=8
Column V55: float16 -> float16, na_count=77096, n_uniq=19
Column V56: float16 -> float16, na_count=77096, n_uniq=53
Column V57: float16 -> float16, na_count=77096, n_uniq=8
Column V58: float16 -> float16, na_count=77096, n_uniq=12
Column V59: float16 -> float16, na_count=77096, n_uniq=18
Column V60: float16 -> float16, na_count=77096, n_uniq=18
Column V61: float16 -> float16, na_count=77096, n_uniq=8
Column V62: float16 -> float16, na_count=77096, n_uniq=12
Column V63: float16 -> float16, na_count=77096, n_uniq=9
Column V64: float16 -> float16, na_count=77096, n_uniq=9
Column V65: float16 -> float16, na_count=77096, n_uniq=3
Column V66: float16 -> float16, na_count=77096, n_uniq=9
Column V67: float16 -> float16, na_count=77096, n_uniq=10
Column V68: float16 -> float16, na_count=77096, n_uniq=4
Column V69: float16 -> float16, na_count=77096, n_uniq=7
Column V70: float16 -> float16, na_count=77096, n_uniq=8
Column V71: float16 -> float16, na_count=77096, n_uniq=8
Column V72: float16 -> float16, na_count=77096, n_uniq=12
Column V73: float16 -> float16, na_count=77096, n_uniq=9
Column V74: float16 -> float16, na_count=77096, n_uniq=10
Column V75: float16 -> float16, na_count=89164, n_uniq=6
Column V76: float16 -> float16, na_count=89164, n_uniq=8
Column V77: float16 -> float16, na_count=89164, n_uniq=32
Column V78: float16 -> float16, na_count=89164, n_uniq=33
Column V79: float16 -> float16, na_count=89164, n_uniq=9
Column V80: float16 -> float16, na_count=89164, n_uniq=21
Column V81: float16 -> float16, na_count=89164, n_uniq=21
Column V82: float16 -> float16, na_count=89164, n_uniq=9
Column V83: float16 -> float16, na_count=89164, n_uniq=9
Column V84: float16 -> float16, na_count=89164, n_uniq=9
Column V85: float16 -> float16, na_count=89164, n_uniq=9
Column V86: float16 -> float16, na_count=89164, n_uniq=32
Column V87: float16 -> float16, na_count=89164, n_uniq=32
Column V88: float16 -> float16, na_count=89164, n_uniq=3
Column V89: float16 -> float16, na_count=89164, n_uniq=4
Column V90: float16 -> float16, na_count=89164, n_uniq=7
Column V91: float16 -> float16, na_count=89164, n_uniq=8
Column V92: float16 -> float16, na_count=89164, n_uniq=9
Column V93: float16 -> float16, na_count=89164, n_uniq=9
Column V94: float16 -> float16, na_count=89164, n_uniq=4
Column V95: float16 -> float16, na_count=314, n_uniq=882
Column V96: float16 -> float16, na_count=314, n_uniq=1411
Column V97: float16 -> float16, na_count=314, n_uniq=977
Column V98: float16 -> float16, na_count=314, n_uniq=14
Column V99: float16 -> float16, na_count=314, n_uniq=90
Column V100: float16 -> float16, na_count=314, n_uniq=30
Column V101: float16 -> float16, na_count=314, n_uniq=871
Column V102: float16 -> float16, na_count=314, n_uniq=1286
Column V103: float16 -> float16, na_count=314, n_uniq=929
Column V104: float16 -> float16, na_count=314, n_uniq=17
Column V105: float16 -> float16, na_count=314, n_uniq=101
Column V106: float16 -> float16, na_count=314, n_uniq=57
Column V107: float16 -> float16, na_count=314, n_uniq=3
Column V108: float16 -> float16, na_count=314, n_uniq=9
Column V109: float16 -> float16, na_count=314, n_uniq=9
Column V110: float16 -> float16, na_count=314, n_uniq=9
Column V111: float16 -> float16, na_count=314, n_uniq=11
Column V112: float16 -> float16, na_count=314, n_uniq=11
Column V113: float16 -> float16, na_count=314, n_uniq=11
Column V114: float16 -> float16, na_count=314, n_uniq=8
Column V115: float16 -> float16, na_count=314, n_uniq=8
Column V116: float16 -> float16, na_count=314, n_uniq=8
Column V117: float16 -> float16, na_count=314, n_uniq=5
Column V118: float16 -> float16, na_count=314, n_uniq=5
Column V119: float16 -> float16, na_count=314, n_uniq=5
Column V120: float16 -> float16, na_count=314, n_uniq=5
Column V121: float16 -> float16, na_count=314, n_uniq=5
Column V122: float16 -> float16, na_count=314, n_uniq=5
Column V123: float16 -> float16, na_count=314, n_uniq=15
Column V124: float16 -> float16, na_count=314, n_uniq=15
Column V125: float16 -> float16, na_count=314, n_uniq=15
Column V126: float32 -> float32, na_count=314, n_uniq=10300
Column V127: float32 -> float32, na_count=314, n_uniq=24415
Column V128: float32 -> float32, na_count=314, n_uniq=14508
Column V129: float32 -> float32, na_count=314, n_uniq=1969
Column V130: float32 -> float32, na_count=314, n_uniq=12333
Column V131: float32 -> float32, na_count=314, n_uniq=4445
Column V132: float32 -> float32, na_count=314, n_uniq=6561
Column V133: float32 -> float32, na_count=314, n_uniq=9950
Column V134: float32 -> float32, na_count=314, n_uniq=8179
Column V135: float32 -> float32, na_count=314, n_uniq=3725
Column V136: float32 -> float32, na_count=314, n_uniq=4853
Column V137: float32 -> float32, na_count=314, n_uniq=4253
Column V138: float16 -> float16, na_count=508595, n_uniq=24
Column V139: float16 -> float16, na_count=508595, n_uniq=35
Column V140: float16 -> float16, na_count=508595, n_uniq=35
Column V141: float16 -> float16, na_count=508595, n_uniq=7
Column V142: float16 -> float16, na_count=508595, n_uniq=11
Column V143: float16 -> float16, na_count=508589, n_uniq=871
Column V144: float16 -> float16, na_count=508589, n_uniq=64
Column V145: float16 -> float16, na_count=508589, n_uniq=261
Column V146: float16 -> float16, na_count=508595, n_uniq=26
Column V147: float16 -> float16, na_count=508595, n_uniq=28
Column V148: float16 -> float16, na_count=508595, n_uniq=22
Column V149: float16 -> float16, na_count=508595, n_uniq=22
Column V150: float32 -> float32, na_count=508589, n_uniq=1997
Column V151: float16 -> float16, na_count=508589, n_uniq=57
Column V152: float16 -> float16, na_count=508589, n_uniq=40
Column V153: float16 -> float16, na_count=508595, n_uniq=20
Column V154: float16 -> float16, na_count=508595, n_uniq=20
Column V155: float16 -> float16, na_count=508595, n_uniq=26
Column V156: float16 -> float16, na_count=508595, n_uniq=26
Column V157: float16 -> float16, na_count=508595, n_uniq=26
Column V158: float16 -> float16, na_count=508595, n_uniq=26
Column V159: float32 -> float32, na_count=508589, n_uniq=6664
Column V160: float32 -> float32, na_count=508589, n_uniq=9622
Column V161: float16 -> float16, na_count=508595, n_uniq=80
Column V162: float16 -> float16, na_count=508595, n_uniq=186
Column V163: float16 -> float16, na_count=508595, n_uniq=107
Column V164: float32 -> float32, na_count=508589, n_uniq=1979
Column V165: float32 -> float32, na_count=508589, n_uniq=2548
Column V166: float32 -> float32, na_count=508589, n_uniq=988
Column V167: float16 -> float16, na_count=450909, n_uniq=874
Column V168: float16 -> float16, na_count=450909, n_uniq=966
Column V169: float16 -> float16, na_count=450721, n_uniq=21
Column V170: float16 -> float16, na_count=450721, n_uniq=50
Column V171: float16 -> float16, na_count=450721, n_uniq=63
Column V172: float16 -> float16, na_count=450909, n_uniq=33
Column V173: float16 -> float16, na_count=450909, n_uniq=9
Column V174: float16 -> float16, na_count=450721, n_uniq=10
Column V175: float16 -> float16, na_count=450721, n_uniq=16
Column V176: float16 -> float16, na_count=450909, n_uniq=50
Column V177: float16 -> float16, na_count=450909, n_uniq=863
Column V178: float16 -> float16, na_count=450909, n_uniq=1237
Column V179: float16 -> float16, na_count=450909, n_uniq=922
Column V180: float16 -> float16, na_count=450721, n_uniq=85
Column V181: float16 -> float16, na_count=450909, n_uniq=26
Column V182: float16 -> float16, na_count=450909, n_uniq=85
Column V183: float16 -> float16, na_count=450909, n_uniq=43
Column V184: float16 -> float16, na_count=450721, n_uniq=18
Column V185: float16 -> float16, na_count=450721, n_uniq=33
Column V186: float16 -> float16, na_count=450909, n_uniq=40
Column V187: float16 -> float16, na_count=450909, n_uniq=216
Column V188: float16 -> float16, na_count=450721, n_uniq=32
Column V189: float16 -> float16, na_count=450721, n_uniq=32
Column V190: float16 -> float16, na_count=450909, n_uniq=44
Column V191: float16 -> float16, na_count=450909, n_uniq=23
Column V192: float16 -> float16, na_count=450909, n_uniq=46
Column V193: float16 -> float16, na_count=450909, n_uniq=39
Column V194: float16 -> float16, na_count=450721, n_uniq=9
Column V195: float16 -> float16, na_count=450721, n_uniq=18
Column V196: float16 -> float16, na_count=450909, n_uniq=40
Column V197: float16 -> float16, na_count=450721, n_uniq=16
Column V198: float16 -> float16, na_count=450721, n_uniq=23
Column V199: float16 -> float16, na_count=450909, n_uniq=47
Column V200: float16 -> float16, na_count=450721, n_uniq=47
Column V201: float16 -> float16, na_count=450721, n_uniq=57
Column V202: float32 -> float32, na_count=450909, n_uniq=10971
Column V203: float32 -> float32, na_count=450909, n_uniq=14952
Column V204: float32 -> float32, na_count=450909, n_uniq=12859
Column V205: float32 -> float32, na_count=450909, n_uniq=2241
Column V206: float32 -> float32, na_count=450909, n_uniq=1781
Column V207: float32 -> float32, na_count=450909, n_uniq=3247
Column V208: float32 -> float32, na_count=450721, n_uniq=2553
Column V209: float32 -> float32, na_count=450721, n_uniq=3452
Column V210: float32 -> float32, na_count=450721, n_uniq=2837
Column V211: float32 -> float32, na_count=450909, n_uniq=7625
Column V212: float32 -> float32, na_count=450909, n_uniq=8869
Column V213: float32 -> float32, na_count=450909, n_uniq=8318
Column V214: float32 -> float32, na_count=450909, n_uniq=2283
Column V215: float32 -> float32, na_count=450909, n_uniq=2748
Column V216: float32 -> float32, na_count=450909, n_uniq=2533
Column V217: float16 -> float16, na_count=460110, n_uniq=305
Column V218: float16 -> float16, na_count=460110, n_uniq=402
Column V219: float16 -> float16, na_count=460110, n_uniq=380
Column V220: float16 -> float16, na_count=449124, n_uniq=27
Column V221: float16 -> float16, na_count=449124, n_uniq=78
Column V222: float16 -> float16, na_count=449124, n_uniq=77
Column V223: float16 -> float16, na_count=460110, n_uniq=18
Column V224: float16 -> float16, na_count=460110, n_uniq=80
Column V225: float16 -> float16, na_count=460110, n_uniq=36
Column V226: float16 -> float16, na_count=460110, n_uniq=82
Column V227: float16 -> float16, na_count=449124, n_uniq=51
Column V228: float16 -> float16, na_count=460110, n_uniq=56
Column V229: float16 -> float16, na_count=460110, n_uniq=92
Column V230: float16 -> float16, na_count=460110, n_uniq=67
Column V231: float16 -> float16, na_count=460110, n_uniq=295
Column V232: float16 -> float16, na_count=460110, n_uniq=339
Column V233: float16 -> float16, na_count=460110, n_uniq=334
Column V234: float16 -> float16, na_count=449124, n_uniq=123
Column V235: float16 -> float16, na_count=460110, n_uniq=25
Column V236: float16 -> float16, na_count=460110, n_uniq=47
Column V237: float16 -> float16, na_count=460110, n_uniq=41
Column V238: float16 -> float16, na_count=449124, n_uniq=25
Column V239: float16 -> float16, na_count=449124, n_uniq=25
Column V240: float16 -> float16, na_count=460110, n_uniq=7
Column V241: float16 -> float16, na_count=460110, n_uniq=6
Column V242: float16 -> float16, na_count=460110, n_uniq=22
Column V243: float16 -> float16, na_count=460110, n_uniq=44
Column V244: float16 -> float16, na_count=460110, n_uniq=24
Column V245: float16 -> float16, na_count=449124, n_uniq=59
Column V246: float16 -> float16, na_count=460110, n_uniq=47
Column V247: float16 -> float16, na_count=460110, n_uniq=20
Column V248: float16 -> float16, na_count=460110, n_uniq=24
Column V249: float16 -> float16, na_count=460110, n_uniq=24
Column V250: float16 -> float16, na_count=449124, n_uniq=20
Column V251: float16 -> float16, na_count=449124, n_uniq=20
Column V252: float16 -> float16, na_count=460110, n_uniq=26
Column V253: float16 -> float16, na_count=460110, n_uniq=67
Column V254: float16 -> float16, na_count=460110, n_uniq=46
Column V255: float16 -> float16, na_count=449124, n_uniq=47
Column V256: float16 -> float16, na_count=449124, n_uniq=49
Column V257: float16 -> float16, na_count=460110, n_uniq=50
Column V258: float16 -> float16, na_count=460110, n_uniq=68
Column V259: float16 -> float16, na_count=449124, n_uniq=69
Column V260: float16 -> float16, na_count=460110, n_uniq=10
Column V261: float16 -> float16, na_count=460110, n_uniq=42
Column V262: float16 -> float16, na_count=460110, n_uniq=22
Column V263: float32 -> float32, na_count=460110, n_uniq=10423
Column V264: float32 -> float32, na_count=460110, n_uniq=13359
Column V265: float32 -> float32, na_count=460110, n_uniq=11758
Column V266: float32 -> float32, na_count=460110, n_uniq=2179
Column V267: float32 -> float32, na_count=460110, n_uniq=3617
Column V268: float32 -> float32, na_count=460110, n_uniq=2757
Column V269: float32 -> float32, na_count=460110, n_uniq=152
Column V270: float32 -> float32, na_count=449124, n_uniq=2341
Column V271: float32 -> float32, na_count=449124, n_uniq=2788
Column V272: float32 -> float32, na_count=449124, n_uniq=2508
Column V273: float32 -> float32, na_count=460110, n_uniq=7178
Column V274: float32 -> float32, na_count=460110, n_uniq=8316
Column V275: float32 -> float32, na_count=460110, n_uniq=7777
Column V276: float32 -> float32, na_count=460110, n_uniq=2264
Column V277: float32 -> float32, na_count=460110, n_uniq=2541
Column V278: float32 -> float32, na_count=460110, n_uniq=2399
Column V279: float16 -> float16, na_count=12, n_uniq=882
Column V280: float16 -> float16, na_count=12, n_uniq=976
Column V281: float16 -> float16, na_count=1269, n_uniq=24
Column V282: float16 -> float16, na_count=1269, n_uniq=34
Column V283: float16 -> float16, na_count=1269, n_uniq=63
Column V284: float16 -> float16, na_count=12, n_uniq=14
Column V285: float16 -> float16, na_count=12, n_uniq=97
Column V286: float16 -> float16, na_count=12, n_uniq=10
Column V287: float16 -> float16, na_count=12, n_uniq=33

In [15]:
##### Saving both DataFrames into binary files to speed next uploadings.

print('Saving datasets...')
train.to_pickle('train.pkl')
print('Train has been saved... (1/2)')
test.to_pickle('test.pkl')
print('Test has been saved... (2/2)')
print('Done!')

Saving datasets...
Train has been saved... (1/2)
Test has been saved... (2/2)
Done!